html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#login-form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 400px;
    background-color: rgba(245, 239, 239, 0.973);
    border-radius: 3%;
    opacity: 0.8;
}

@media screen and (max-width: 411px) {
    #login-form-container {
        height: 500px;
        width: 300px;
    }
}

#icon-container {
    margin-top: 7%;
    margin-left: 33%;
    width: 33%;
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-radius: 100%;
    /* background-color: red; */
}

.input-field input[type="text"]:focus+label {
    color: #00bcd4;
}

.input-field input[type="text"]:focus {
    color: #00bcd4;
    border-bottom: 1px solid #00bcd4;
    box-shadow: 0 1px 0 0 #00bcd4;
}

.input-field .prefix.active {
    color: #00bcd4;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #00bcd4;
}
.ErrorMess{
    color: red;
    background-color: white;
}

.WarningMess{
    color: #ffcc00;
    background-color: white;
}
.row1{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
